body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

body .navbar {
  background-color: #0d142c;
  padding: 10px 0;
  position: relative;
}

body .navbar .navbar-brand {
  margin: 0 30px;
}

body .navbar ul.navbar-nav li.nav-item > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 0 0 45px;
  transition: all 0.25s ease;
}

body .navbar ul.navbar-nav li.nav-item > a.active {
  opacity: 1;
}

body .navbar ul.navbar-nav li.nav-item > a:hover {
  opacity: 0.8;
}

body .navbar::after {
  content: "";
  width: 100%;
  bottom: -8px;
  left: 0;
  position: absolute;
  height: 8px;
  background-color: #0b41ab;
}

body footer {
  width: 100%;
  margin-top: 50px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #1e1e1e;
}

body footer div > a {
  text-decoration: none;
  color: #fff;
}

body div.card-wrapper {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 40px 60px;
}

body div.card-wrapper .title-card {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body div.card-wrapper .title-card p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #404558;
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
}

body div.card-wrapper .title-card p::after {
  content: "";
  width: 10px;
  top: calc(50% - 5px);
  left: 0;
  height: 10px;
  background-color: #0b41ab;
  position: absolute;
}

body div.card-wrapper .title-card div.league-items > a {
  text-decoration: none;
  color: #c6c6c6;
  font-weight: 600;
  font-size: 1.05rem;
  margin-right: 20px;
}

body div.card-wrapper .title-card div.league-items > a.active {
  color: #0b41ab;
  position: relative;
}

body div.card-wrapper .title-card::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #e6eefc;
  bottom: 0;
  left: 0;
}

body .page-title-wrapper {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

body .page-title-wrapper h1.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #404558;
  position: relative;
}

body .page-title-wrapper h1.page-title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  left: 0;
  bottom: -20px;
}

body .page-title-wrapper h1.page-title:before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: #0b41ab;
  left: 0;
  bottom: -20px;
}

@media (max-width: 767.98px) {
  .navbar-toggler {
    margin: 0 30px;
  }

  body .navbar ul.navbar-nav li.nav-item > a {
    padding: 10px 45px;
    margin-left: 10px;
  }

  .navbar-nav {
    margin: 20px 0 0;
  }
}

@media (max-width: 991.98px) {
  body div.card-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  body .page-title-wrapper {
    flex-direction: column;
  }

  body .page-title-wrapper > div {
    margin-top: 50px;
  }
}

