section.contact{
    p.description{
        text-align: justify;
        color: #565d76;
        i{
            color: #0b41ab;
            font-size: 1.5rem;
            margin-right: 10px;
        }
    }
}



