body {
  background: #f2f7fb;
}

.layout-admin .navbar-brand {
  margin-right: 0;
}

.layout-admin .navbar-brand img {
  width: 80%;
  margin: 0 10%;
}

.layout-admin .left-panel {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #263544;
  overflow: hidden;
}

.layout-admin .left-panel .header {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.layout-admin .left-panel .header a {
  color: #fff;
}

.layout-admin .left-panel .items-menu {
  margin-top: 20px;
}

.layout-admin .left-panel .items-menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.layout-admin .left-panel .items-menu ul li a {
  text-decoration: none;
  color: #b7c0cd;
  display: inline-block;
  padding: 15px 20px;
  width: 100%;
  position: relative;
}

.layout-admin .left-panel .items-menu ul li a.active {
  position: relative;
  color: #fff;
  background-color: #1d2531;
  border-left: 4px solid #42a5f5;
}

.layout-admin .left-panel .items-menu ul li a:hover {
  color: #fff;
}

.layout-admin nav.navbar {
  z-index: 2;
  position: fixed;
  min-height: 70px;
  right: 0;
  width: calc(100% - 200px);
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
  background-color: #fff;
}

.layout-admin nav.navbar .nav-item {
  margin: 0 20px;
}

.layout-admin nav.navbar .nav-item.icon {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #263544;
  position: relative;
}

.layout-admin nav.navbar .nav-item.icon.alarm::before {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  background-color: #FF5370;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.layout-admin nav.navbar .nav-item a.nav-link {
  color: #333;
}

.layout-admin main {
  padding-top: 100px;
  width: calc(100% - 200px);
  margin-right: 0;
  margin-left: auto;
}

.layout-admin .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-admin .content-header .content-title {
  display: flex;
  align-items: center;
  flex: 1;
}

.layout-admin .content-header .content-title .icon-wrapper {
  background-color: #4099ff;
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-right: 20px;
}

.layout-admin .content-header .content-title .icon-wrapper i {
  font-size: 20px;
  color: white;
}

.layout-admin .content-header .content-title .text-wrapper p.title {
  margin-bottom: 0;
  font-size: 18px;
}

.layout-admin .content-header .content-title .text-wrapper p.sub-title {
  margin-bottom: 0;
  font-size: 14px;
}

.layout-admin .content-header .content-add {
  flex: 1;
  text-align: end;
  justify-content: flex-end;
}

.layout-admin .content-header .content-add a {
  text-decoration: none;
  background-color: #2ed8b6;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
}

.layout-admin .table {
  margin: 0;
}

.layout-admin .table th,
.layout-admin .table td {
  padding: 10px 25px;
}

.layout-admin .table-wrapper {
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
}

.layout-admin .card-box {
  margin-top: 25px;
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
}

.layout-admin .card-box p.title {
  font-size: 1.1rem;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 0;
}

.layout-admin .card-box p.title::after {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}

.layout-admin .card-box p.title::before {
  width: 100px;
  height: 1px;
  z-index: 2;
  background-color: #4199fe;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}

.layout-admin .card-box div.content {
  margin: 20px 0 5px;
}

.layout-admin .card-box div.content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.layout-admin .card-box div.content p span {
  color: #0758b8;
}

.layout-admin .pagination-wrapper {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767.98px) {
  .layout-admin .left-panel {
    width: 60px;
  }

  .layout-admin nav.navbar {
    width: calc(100% - 60px);
  }

  .layout-admin main {
    width: calc(100% - 60px);
  }

  .layout-admin .content-header .content-add {
    width: 100%;
    margin-top: 30px;
    text-align: start;
  }

  .layout-admin .content-header {
    flex-direction: column;
  }

  .layout-admin .left-panel .items-menu ul li a > span {
    display: none;
  }

  .layout-admin .left-panel .items-menu ul li a > i {
    margin-right: 0px !important;
  }

  .layout-admin .left-panel .items-menu ul li a.active > i {
    margin-left: -4px;
  }
}

