.league-name {
  width: 100%;
  text-align: center;
  background-color: #263544;
  padding: 10px 20px;
  font-weight: 400;
  color: #fff;
  font-size: 1.2rem;
}

.player-wrapper {
  padding: 10px 15px;
}

.player-wrapper.add {
  text-align: center;
  background-color: #45ce80;
}

.player-wrapper.add a {
  color: #fff;
}

.alert-custom {
  position: fixed;
  z-index: 100;
  width: 50%;
  left: 0;
  top: 10px;
  right: 0;
  margin: 0 auto;
}

.player-photo {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #e6eefc;
}

.settings {
  margin: 20px 0;
}

.settings .filter {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #d6d6d6;
  margin: 0 0 0px 5px;
  border-radius: 20px;
  font-size: 12px;
  background-color: #eaeaea;
}

.settings .filter.active {
  background-color: #3f99fe;
  color: #fff;
}

.with-input .img-wrapper {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.with-input .img-wrapper .mask-edit {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  opacity: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  transition: all 0.25s ease;
}

.with-input .img-wrapper .mask-edit i {
  color: white;
  font-size: 1.8rem;
}

.with-input .img-wrapper:hover {
  background-image: none;
}

.with-input .img-wrapper:hover .mask-edit {
  opacity: 1;
}

.with-input .img-wrapper input {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

